body{
    background-color: rgba(128, 128, 128, 0.103);
}
h1{
    text-transform: uppercase;
}
h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}
.bg-OR1{
    background-color: rgb(255, 205, 4);
}

.bg-OR2{
    background-color: white; 
    height: fit-content;
    top: 10px;
}
.bg-OR3{
    background-color: white;
}
.bg-OR2>ul>li{
    background-color: #f2f2f200;
}
.bg-OR2>ul>li:hover{
    background-color: #f2f2f2
}
.bg-OR2>ul>li>a{
    text-decoration: none;
    color: black;
}
.bg-OR2>ul>li>a:hover{
    text-decoration: underline;
    color: black;
}

.profil-foto{
    max-height: 100px;
    border-radius: 50px;
}

.konu-foto{
    max-height: 150px;
}

.makale>p{
    font-size: larger;
}
.makale>ul>li{
    font-size: larger;
}
.makale>ol>li{
    font-size: larger;
}
.makale>p>ul>li{
    font-size: larger;
}
.makale-ozet{
    text-align: justify;
}

.noFilter{
    color: blue;
    text-align: right;
    font-size: smaller;
}
.konuList{
    overflow: auto;
    max-height: 500px;
}
.konuList>li>a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;

}
.konuList>li>a:hover{
    text-decoration: underline;
    color: black;
}
